@model IEnumerable<MVCLOGIN2.Models.department>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Departments</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.depname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.curriculum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.faculty.facultyname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.depname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.curriculum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.faculty.facultyname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.departmentID }, new { @class = "btn btn-warning btn-xs" })
            @Html.ActionLink("Details", "Details", new { id = item.departmentID }, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("Delete", "Delete", new { id = item.departmentID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
