@model IEnumerable<MVCLOGIN2.Models.instructor>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Instructors</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.instfullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instroom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instofficehours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instusername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instpassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.instfullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instroom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instofficehours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instusername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instpassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.instructorID }, new { @class = "btn btn-warning btn-xs" })
            @Html.ActionLink("Details", "Details", new { id = item.instructorID }, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("Delete", "Delete", new { id = item.instructorID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
