<div class="col-lg-3" style="margin-left:3rem">
    <div class="card hovercard" style="margin-top:5rem">
        <div class="cardheader">
        </div>
        <div class="avatar">
            <img alt="" src="@Session["stufoto"]">
        </div>
        <div class="info">
            <div class="title">
                <h2>@Session["StudentName"] </h2>
            </div>
            <div class="desc">
                <h4>@Session["StudentNumber"]</h4>
            </div>
            <div class="desc"><h4>@Session["StudentDep"]</h4></div>
            <div class="desc"><h4>@Session["StudentFac"]</h4></div>
            <div class="desc"><h4>Advisor: @Session["stuinst"]</h4></div>
        </div>
    </div>
</div>
